<div style="display: grid; grid-template-columns: 1fr 1fr 2fr;">
    <div>
        <h2>Your Events:</h2>
    </div>
    <div>
        <h2>Your Clubs:</h2>
        <a asp-controller="Clubs" asp-action="NewClub" class="btn btn-primary">Create a Club</a>
    </div>
</div>
