@model ClubCanvas.Shared.DTOs.UserDto

<div class="text-center mb-5">
    <span><strong>Canvas</strong></span>
    <span><strong>Welcome, @Model.Username</strong></span>
    <span><strong>Your clubs:</strong></span>
    <ul class="list-unstyled">
    @foreach (var club in Model.OwnedClubs)
    {
        <li>@club.Name</li>
    }
    </ul>
</div>