@model ClubCanvas.Shared.DTOs.CreateEventDto

<div class="container-fluid d-flex justify-content-center">
    <div class="text-center mb-5" style="max-width: 800px; width: 100%;">
        <h2 class="mb-0"><strong>@Model.Name &#64;@Model.Location</strong></h2>
        <h4 class="mb-4">@Model.EventDate.ToString("MMMM dd, yyyy 'at' h:mm tt")</h4>
        
        <p class="mb-4">@Model.Description</p>
        
        <div>
            <h2>Attendees:</h2>
            <div class="d-flex justify-content-center">
                <p>No attendees yet</p>
            </div>
        </div>
        <button>Register Now</button>
    </div>
</div>