@model ClubCanvas.mvc.Models.User;

<div class="text-center">
    <h1 class="display-4">Welcome To CLub Canvas</h1>
    <h2 class="display4">Sign up/Log in</h2>
    <div class="form-floating">
    <form asp-controller="Home" asp-action="LogIn" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group" id="form-div">
            <label asp-for="Email" class="form-label">Your email:</label>
            <input asp-for="Email" class="form-control" placeholder="Ex. JohnDoe@gmail.com"/>
        </div>
        <div class="form-group" id="form-div">
            <label asp-for="Username" class="form-label">Your name:</label>
            <input asp-for="Username" class="form-control" placeholder="Ex. John"/>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label">Your password:</label>
            <input asp-for="Password" class="form-control" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
</div>
